.card-container {
  display: flex;
  flex-direction: column;
  background-color: #393e46;
  border: 1px solid #dbe2ef;
  color: #eeeeee;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
.img-size {
  height: 300px;
}
.card-container p{
  display: flex;
  align-items: center;
  justify-content: center;
}  
.start-color{
  color: goldenrod!important;
  padding-right: 10px;
}
